doctype
html(lang="es")
	include includes/header.pug
	body
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis sit voluptatum? Numquam, similique at blanditiis itaque, odio ut porro sed, debitis, nulla dolor magnam harum reiciendis laboriosam sunt vel.
		
		include includes/footer.pug